@theme-color:#15417F;
@theme-color-1: #8597b6;
@text-color: #505050;
@bg-color: #F9F9F9;
// @border:1px solid #d9d9d9;
@border:1px solid #e8e8e8;
@text-link: #3a6351;
@box-shadow: 0 2px 3px 0 rgb(210 210 210);


